<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Title</title>
</head>
<link th:href="@{/static/css/review.css}" rel="stylesheet" type="text/css">

<body class="bg-image" th:style="'background-image:url(' + @{/static/img/background.jpg} + ');'">
    <div th:insert="fragments/navbar.html :: navBar"></div>
    <div class="buttons">
        <div sec:authorize="isAuthenticated()">
            <a class="button_create" th:href="@{/reviews/create}">Написать отзыв</a>
        </div>
    </div>
    <div sec:authorize="isAuthenticated()">
        <div th:each="review: ${reviews}">
            <a class="link" th:href="@{${'/reviews/' + review.getId()}}">
                <div class="review">
                    <div th:if="${review.getImageName() != null && !review.getImageName().isEmpty()}">
                        <img th:src="@{${'/img/' + review.getImageName()}}" class="image">
                    </div>
                    <div class="text">
                        <p th:utext="${review.getText()}"></p>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div sec:authorize="isAnonymous()">
        <div th:each="review: ${reviews}">
            <div class="review">
                <div th:if="${review.getImageName() != null && !review.getImageName().isEmpty()}">
                    <img th:src="@{${'/img/' + review.getImageName()}}" class="image">
                </div>
                <div class="text">
                    <p th:utext="${review.getText()}"></p>
                </div>
            </div>
        </div>
    </div>


</body>
</html>