<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Contacts</title>
<link th:href="@{/static/css/contacts.css}" rel="stylesheet" type="text/css">

</head>

<body class="bg-image" th:style="'background-image: url(/static/img/background.jpg);'">
    <div th:insert="fragments/navbar.html :: navBar"></div>

    <div class="title">
        <h1>КОНТАКТЫ</h1>
    </div>

    <div class="services">
        <div class="contacts_service">
            <h4>Информация по поводу услуг:</h4>
            <div class="service">
                <img th:src="'/static/img/icons/skype.png'" class="icon">
                <p class="service_text">alisam.skype</p>
            </div>
            <div class="service">
                <img th:src="'/static/img/icons/whatsapp.png'" class="icon">
                <p class="service_text">+22 222 222 222</p>
            </div>
            <div class="service">
                <img th:src="'/static/img/icons/telegram.png'" class="icon">
                <p class="service_text">+22 222 222 222</p>
            </div>
            <div class="service">
                <img th:src="'/static/img/icons/viber.png'" class="icon">
                <p class="service_text">+22 222 222 222</p>
            </div>

        </div>

        <div class="contacts_follow">
            <h4>Следите за нами:</h4>
            <div>
                <a href="https://www.facebook.com/" class="link">
                    <img th:src="'/static/img/icons/facebook.png'" class="icon_follow_top">
                </a>
            </div>
            <div>
                <a href="https://www.instagram.com/" class="link">
                    <img th:src="'/static/img/icons/instagram.png'" class="icon_follow">
                </a>
            </div>
            <div>
                <a href="https://vk.com/?lang=en" class="link">
                    <img th:src="'/static/img/icons/VK.png'" class="icon_follow">
                </a>
            </div>
        </div>
    </div>

</body>
</html>